

@media only screen and (min-width: 180px) {
  body {
    font-size: 80%;
  }
}

@media only screen and (min-width: 320px) {
  body {
    font-size: 90%;
  }
}

@media only screen and (min-width: 375px) {
  body {
    font-size: 100%;
  }
}

@media only screen and (min-width: 414px) {
  body {
    font-size: 110%;
  }
}

html, div {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  height: 100%;
  overflow: auto;
}

body {
  margin: 0px;
  font-family: Hind-Light;
  letter-spacing: .5px;
}

input, textarea, img, select, button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-appearance: none;
  -webkit-outline: none;
  -webkit-border: none;
  outline: none;
  border: none;
}

input:focus, textarea:focus, img:focus, div:focus, button:focus {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-appearance: none;
  -webkit-outline: none;
  -webkit-border: none;
  outline: none;
}

.scrollView {
  position: absolute;
  height: 90%;
  padding: 1.5em;
  box-sizing: border-box;
  width: 100%;
  top: 0;
  background: #F5F5F5;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.containView {
  position: absolute;
  padding: 1.5em;
  box-sizing: border-box;
  width: 100%;
  top: 0;
  background: #F5F5F5;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  /* flex-basis: 100%; */
  /* align-items: center; */
  /* justify-content: space-between; */
  background: #FFFFFF;
  color: #000;
  border-bottom: 1px solid #DDDDDD;
  z-index: 2000;
}

.tabBar {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  flex-basis: 100%;
  align-items: center;
  justify-content: space-between;
  background: #FFFFFF;
  color: #000;
  border-top: 1px solid #DDDDDD;
  z-index: 2000;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap; /* Safari */
  /* flex-wrap:         nowrap; */
}

/*  */
/* CUSTOM STYLING */
/*  */

/* DEV DIMENSION 1024 x 583 */

@font-face {
  font-family: Montserrat-Black;
  src: url(../font/Montserrat-Black.ttf);
}

@font-face {
  font-family: Montserrat-ExtraBold;
  src: url(../font/Montserrat-ExtraBold.ttf);
}

@font-face {
  font-family: Montserrat-Bold;
  src: url(../font/Montserrat-Bold.ttf);
}

@font-face {
  font-family: Montserrat-Semibold;
  src: url(../font/Montserrat-Semibold.ttf);
}

@font-face {
  font-family: Montserrat-Medium;
  src: url(../font/Montserrat-Medium.ttf);
}

@font-face {
  font-family: Montserrat-Regular;
  src: url(../font/Montserrat-Regular.ttf);
}

@font-face {
  font-family: Montserrat-ExtraLight;
  src: url(../font/Montserrat-ExtraLight.ttf);
}

body{
  margin: 0px;
  display: flex;
  width: 100%;
  height: 100%;
  letter-spacing: 1px;
  font-family: Montserrat-Regular;
}

.screensaver-main-content{
  width: 100%;
  height: 100vh;
  /* background-image: url("../image/healthyfood.png"); */
}

.main-content{
  background-color: black;
  margin: 0px;
  width: 100%;
  height: auto;
  background-image: url("../image/background.png");
  background-position: center;
  background-size: cover;
}

.main-header{
  color: white;
  padding: 72px 24px 24px 24px;
}

.main-title{
  font-family: Montserrat-Semibold;
  font-size: 36px;
  margin: 0px;
}

.main-subtitle{
  font-family: Montserrat-Regular;
  font-size: 20px;
  margin: 0px;
}

/* .main-header p{
margin: 0px;
} */

.main-caption{
  font-family: Montserrat-ExtraBold;
  font-size: 54px;
  margin-top: 72px;
  width: 650px;
}

.card-caption{
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .card-caption p{
margin: 0px;
} */

.card-image{
  width: 250px;
  height: 250px;
  padding: 40px 0px;
}

.card{
  flex-direction: column;
  color: white;
  display: flex;
  flex-grow: 1;
  margin: 10px;
  height: 300px;
  flex-basis: 30%;
  overflow: hidden;
  position: relative;
  border-radius: 8px;
  height: auto;
}

.card-active{
  background-color: #75ac65;
  opacity: 1 !important;
}

.card-group{
  display: flex;
  flex-direction: row;
  margin: 0px 16px;
}


.card-background{
  position: absolute;
  opacity: .05;
  background-color: white;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.card-content{
  z-index: 3;
  padding: 0px 32px 40px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-description{
  font-size: 18px;
  font-family:Montserrat-ExtraLight;
  text-align: center;
  margin: 6px 0px 0px 0px;
}

.card-title{
  font-size: 28px;
  font-family: Montserrat-ExtraBold;
  margin: 0px;
}


.basket{
  background-color: white;
  margin-top: 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 32px 32px 40px 32px;


}

table tr:nth-child(even) {
  background-color: #eee;
}
table tr:nth-child(odd) {
  background-color:#fff;
}

table th {
  color: #949494;
  font-size: 12px;
  font-family: Montserrat-Bold;
}

table {
  width:100%;
}
table, th, td {
  border: none;
  border-collapse: collapse;
}

th, td {
  padding: 14px;
  text-align: left;
  font-family: Montserrat-Medium;
  font-size: 18px;
}

.currency{
  font-size: 14px;
}


.basket-total-row{
  display: flex;
  justify-content: space-between;
  font-family: Montserrat-Medium;
  font-size: 18px;
  margin-top: 8px;
}

.basket-total-row-total{
  font-family: Montserrat-Semibold;
}

.basket-total{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.basket-total p{
  margin: 0px;
}

.basket-table{
  flex-grow: 2;
  margin-right: 48px;
}

hr{
  border: none;
  height: 2px;
  /* Set the hr color */
  color: black; /* old IE */
  background-color: black; /* Modern Browsers */
}


.green-button{
  background-color: #008042;
}

button{
  border: none;
  border-radius: 4px;
  height: 48px;
  width: 100%;
  color: white;
  font-size: 16px;
  font-family: Montserrat-Medium;
}

button:hover{
  opacity: .7;
}

.card-bundle-title{
  font-size: 21px;
  font-family: Montserrat-Medium;
  text-align: center;
}

.pointer{
  cursor: pointer;
}


.modal{
  height: 100vh;
}

.setup-main-content{
  background-color: #75ac65;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  /* padding: 64px; */
  align-items: center;
  flex-direction: column;
}

.setup-logo{
  display: flex;
  flex-direction: row;
  align-items:center;
}

.setup-logo img{
  width: 120px;
  height: 120px;
  margin-right:16px;
}

.setup-logo span{
  font-size: 100px;
  color: white;
  font-family: Montserrat-Medium;
}

.setup-preloader{
  width: 30px;
  height: 30px;
}

.setup-preloaders{
  margin-top: 64px;
}



@-webkit-keyframes NAME-YOUR-ANIMATION {
  from {
    opacity: 0;
    transform:scale(0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform:scale(1.4);
    transform: none;
  }
}
@-moz-keyframes NAME-YOUR-ANIMATION {
  from {
    opacity: 0;
    transform:scale(0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform:scale(1.4);
    transform: none;
  }
}
@-o-keyframes NAME-YOUR-ANIMATION {
  from {
    opacity: 0;
    transform:scale(0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform:scale(1.4);
    transform: none;
  }
}
/* @keyframes NAME-YOUR-ANIMATION {
0%   { opacity: 0; }
50%   { opacity: .5; }
100% { opacity: 1; }
} */


@keyframes NAME-YOUR-ANIMATION {
  from {
    opacity: 0;
    transform:scale(1.4);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform:scale(1.4);
    transform: none;
  }
}

#pizza {
  -webkit-animation: NAME-YOUR-ANIMATION 3s infinite;
  -moz-animation:    NAME-YOUR-ANIMATION 3s infinite;
  -o-animation:      NAME-YOUR-ANIMATION 3s infinite;
  animation:         NAME-YOUR-ANIMATION 3s infinite;
}

#chicken {
  -webkit-animation: NAME-YOUR-ANIMATION 5s infinite;
  -moz-animation:    NAME-YOUR-ANIMATION 5s infinite;
  -o-animation:      NAME-YOUR-ANIMATION 5s infinite;
  animation:         NAME-YOUR-ANIMATION 5s infinite;
}

#drink {
  -webkit-animation: NAME-YOUR-ANIMATION 7s infinite;
  -moz-animation:    NAME-YOUR-ANIMATION 7s infinite;
  -o-animation:      NAME-YOUR-ANIMATION 7s infinite;
  animation:         NAME-YOUR-ANIMATION 7s infinite;
}


.setup-button{
  width: 300px;
  background-color: #ED9B40;
  color: #f2f2f2;
  font-family: Montserrat-Bold;
  margin-top: 32px;
  /* box-shadow: 0px 2px 4px 0px #a2a2a2; */
}

.setup-form{
  background-color: white;
  padding: 32px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}

input {
  background-color: #f2f2f2;
  border: 2px solid #c8c8c8;
  color: #4a4a4a;
  font-size: 18px;
  padding: 16px 8px;
  margin-top: 16px;
  border-radius: 6px;
}

.setup-title{
  color: white;
  font-size: 40px;
}


.screensaver{
  width: 100%;
  height: 100vh;
}

.swiper-container {
  width: 100vw;
  height: 100vh;
}


.alertify .ajs-dimmer, .alertify .ajs-modal{
  display: flex;
  /* justify-content: center; */
}

.alertify .ajs-dialog {
  position: relative;
  margin: 40% auto !important;
  min-height: 110px;
  max-width: initial !important;
  padding: 24px 24px 0 24px;
  outline: 0;
  width: 70%;
  height: auto;
  background-color: #fff;
  border-radius: 10px;
}

.alertify .ajs-dimmer{
  opacity: .8 !important;
}

.alertify.ajs-frameless .ajs-body .ajs-content{
  border-radius: 10px;
}


.bundle-details{
  color: #4a4a4a;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}


.bundle-header{
  width: 100%;
  position: relative;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.bundle-overlay-image{
  width: 100%;
  height: 40%;
  background-position: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.bundle-overlay{
  width: 100%;
  top: 0;
  height: 100%;
  background-color: black;
  opacity: .7;
  left: 0;
  position: absolute;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.bundle-overlay-text{
  position: absolute;
  top: 40%;
  left: 40px;
  color: white;
  font-size: 42px;
  font-family: Montserrat-Medium;
  width: 400px;

}


.bundle-details-header{
  font-size: 12px;
  color: #656363;
  font-family: Montserrat-Bold;
  margin-bottom: 4px;
}

.bundle-content{
  padding: 40px;
}

.bundle-details-text{
  margin: 0px;
  color: black;
  font-size: 18px;
}

.bundle-details-secondary{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 32px;
}

.bundle-details-basket{
  flex-grow: 1;
  display: flex;
  margin-left: 40px;
}

.bundle-details-menu{
  flex-grow: 1;
}


.bundle-count{
  display: flex;
  align-items: center;
  align-content: center;
}

.bundle-count button{
  /* padding: 8px; */
  width: 40px;
  height: 40px;
  border-radius: 100px;
  color: #4e4e4e;
  font-size: 32px;
  font-family: Montserrat-Medium;
  display: flex;
  justify-content: center;
}


.bundle-count-figure{
  margin: 0px 16px;
}


.basket-total-row-quantity{
  margin: 24px 0px;
}


.main-header-nav{
  display: flex;
  justify-content: space-between;
}
